{% extends 'base.html' %}
{% block content %}

<style>
	h1 {
	    font-family: "Sitka Subheading", serif;
	    margin: 0;
	}
	p {
	    font-family: Cambria Math;
	    margin: 0;
	    color: black;
	    font-style: italic;
	}
	.container-1 {
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    text-align: center;
	    min-height: 30vh;
	    padding-top: 30px;
	    padding-bottom: 30px;
	}
	.container-2 {
		width: 1000px;
		text-align: left;
	}
	hr {
	    width: 100%;
	    border: 1px solid #000;
	}
</style>

<div class="container-1">
	<hr>
	<h1>ПРО НАС</h1>
	<hr>
	<div class="container-2">
		<p>Ласкаво просимо до AromaShop — українського бренду, який створює унікальні нішеві парфуми з душею та натхненням. <br><br>

		Ми віримо, що аромат — це не просто запах, а справжня історія, що розповідає про вашу індивідуальність, настрій і характер. Кожна наша композиція — це результат ретельного відбору натуральних інгредієнтів, гармонійного поєднання традицій парфумерного мистецтва та сучасних тенденцій. <br><br>

		У AromaShop ми дбаємо про якість і унікальність кожної краплі. Наші майстри парфумери створюють аромати, які не залишать байдужими навіть найвибагливіших поціновувачів. Ми прагнемо дарувати нашим клієнтам не просто парфуми, а емоції, спогади і натхнення, які супроводжують їх у повсякденному житті. <br><br>

		Підтримуючи українське виробництво, ми використовуємо найкращі локальні ресурси та підтримуємо екологічні стандарти. Для нас важливо, щоб кожен флакон AromaShop був не лише витвором мистецтва, а й вкладом у збереження природи. <br><br>

		Приєднуйтесь до світу вишуканих ароматів від AromaShop — відкрийте для себе мистецтво парфумерії, створене з любов’ю в Україні.</p>
	</div>
</div>
{% endblock %}